.relative {
    position: relative;
}
@media (min-width: 768px) {
    .md-relative {
        position: relative;
    }
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}
.bottom-5 {
    bottom: 5px;
}
.left-5 {
    left: 5px;
}

@media (min-width: 768px) {
    .md-top-initial {
        top: initial;
    }
}
.top-0 {
    top: 0;
}
.-top-10 {
    top: -10px;
}
.top-50 {
    top: 50%;
}
.top-120 {
    top: 120%;
}
.left-0 {
    left: 0;
}
.-left-10 {
    left: -10px;
}
.-bottom-10 {
    bottom: -10px;
}

.right-10 {
    right: 10px;
}
.right-75p {
    right: 75%;
}

.-translate-0-50 {
    translate: 0 -50%;
}
