@import "../css/reset.css";
@import "../css/variables.css";
@import "../css/animation.css";

@import "../css/sections/header.css";
@import "../css/slider.css";
@import "../css/sort-select.css";

@import "../css/single.css";

html,
body {
    font-family: "Times New Roman", Times, serif, system-ui;
    font-size: var(--font-size-18);
    line-height: 1;
    scroll-behavior: smooth;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
